*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary: #0a2640;
  --secondary: #65e4a3;
  --tertiary: #777777;
  --header-font-family: 'Open Sans', sans-serif;
  --body-font-family: 'Manrope', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: lighter;
  font-size: 16px;
  color: var(--primary);
  box-sizing: border-box;
  background-color: #fff;
  font-family: var(--body-font-family);
  box-sizing: border-box;
}

a {
  color: var(--primary);
  text-decoration: none;
}

ul {
  list-style: none;
}

.red-border {
  border: 1px solid red;
}


.button-primary {
  color: var(--primary);
  background-color: #fff;
  border-radius: 24px;
  border: 2px solid var(--primary);
  font-weight: 700;
}

.button-primary:hover {
  background-color: var(--primary);
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1215px;
  padding: 0 15px;
}

.blue {
  color: var(--primary);
  font-weight: 700;
}

.date {
  color: var(--tertiary);
  font-family: var(--header-font-family);
}

h1 {
  font-size: 4rem;
  color: var(--primary);
  font-weight: 300;
}

.desktopNav {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding: 56px 0;
  gap: 20px;
}

.logo p {
  font-size: 2.703rem;
  line-height: 2.102rem;
}

.logo {
  font-weight: 700;
  align-items: center;
  color: var(--primary);
  display: flex;
  gap: 10px;
}

.desktopNav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  width: 100%;
  max-width: 419px;
}

.desktopNav li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  .logo img {
    font-weight: 700;

  }

  .logo p {
    font-size: 1.8rem;
    line-height: 1.02rem;
  }
}

@media screen and (max-width: 500px) {
  .desktopNav ul {
    display: none;
  }
}

.mobileNav .navMenuContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.navMenuContainer>button {
  appearance: none;
  border: none;
  width: 42px;
  height: 42px;
  background-color: #fff;
  cursor: pointer;
}

.mobileNav ul {
  transition: all 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}


.loginBtn {
  padding: 8px 40px;
}

.thoughts {
  text-align: center;
  margin: 67px auto;

  p {
    line-height: 32px;
    margin-bottom: 8px;
  }
}

.headline {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 72px;
  align-items: center;
  gap: 20px;
}

.housesImg {
  flex: 1;
  max-width: 550px;

  img {
    width: 100%;
  }
}

.headlineRight {
  max-width: 550px;
  flex: 1;
}

.headlineText {
  font-size: 3rem;
  line-height: 1.2;
  margin-top: 12px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  section.headline {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 850px) {
  .thoughts {
    margin-top: 25px;
    margin-bottom: 40px;

    p {
      line-height: 1.02;
      margin-bottom: 4px;
    }

    h1 {
      font-size: 2.8rem;
      line-height: 1;
    }
  }

  .headlineText {
    font-size: 2rem;
  }
}

.details {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: var(--header-font-family);
}

section.latest {
  margin: 6rem 0;
  padding: 0 40px;

  h2 {
    font-size: 48px;
    line-height: 1.5;
    color: #000;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 850px) {
  section.latest {
    margin: 1.8rem 0;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;

    h2 {
      font-size: 2rem;
      line-height: 1;
      margin-bottom: 1.2rem;
    }
  }
}

.postsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 3.125rem;
  row-gap: 5rem;
  margin-bottom: 6rem;
}

.postItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  border-radius: 24px;

  .details:first-of-type {
    margin-bottom: 12px;
  }

  .details:last-of-type {
    margin-top: 20px;
  }
}

.postItem:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.postItem>img {
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .postsGrid {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
    margin-bottom: 2.5rem;
  }

  .postItem {
    .details:first-of-type {
      margin-bottom: 8px;
    }

    .details:last-of-type {
      margin-top: 12px;
    }
  }

  .postItem>img {
    margin-bottom: 16px;
  }
}

.loadMore {
  display: block;
  margin: 0 auto;
  border-radius: 56px;
  border: 2px solid var(--primary);
  background-color: white;
  padding: 16px 3.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .loadMore {
    padding: 10px 12px;
    font-size: 1rem;
  }
}

.cta {
  background-color: var(--primary);
  margin: 0 auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 72px 25px;
}

.ctaWrapper {
  margin: 0 auto;
  max-width: 716px;
  width: 100%;
}

.cta h3 {
  font-size: 48px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color: white;
  margin-bottom: 3rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 604px;
  gap: 24px;

  input {
    width: 100%;
    padding: 0px;
    height: 56px;
    border-radius: 240px;
    font-size: 20px;
    font-family: var(--header-font-family);
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-indent: 32px;
  }

  button {
    background: var(--secondary);
    padding: 16px 56px;
    border-radius: 56px;
    border: none;
    color: var(--primary);
    font-weight: 700;
    font-size: 1.25rem;
    text-wrap: nowrap;
    cursor: pointer;
    font-family: var(--header-font-family);
  }
}

@media screen and (max-width: 768px) {
  .cta h3 {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 3rem;
  }

  form {
    gap: 16px;

    input {
      width: 100%;
      padding: 0px;
      height: 41.5px;
      font-size: 14px;
    }

    button {
      padding: 10px 56px;
      font-weight: 700;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 490px) {
  form {
    gap: 24px;
    flex-direction: column;

    button {
      width: 100%;
    }
  }

  .cta {
    padding: 40px 16px;
  }

  .cta h3 {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 1.6rem;
  }
}

footer {
  margin-top: 11.5rem;
  margin-bottom: 7rem;
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 2fr;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerLeft {
  p:last-of-type {
    margin-top: 0.5rem;
  }
}

.footerRight {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-between;
  gap: 10px;
}

footer {
  dl {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  dt {
    color: #000;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 500;
    font-family: var(--header-font-family);

  }

  dd {
    a:hover {
      text-decoration: underline;

    }
  }

  .hiringBadge {
    color: var(--primary);
    background: var(--secondary);
    padding: 1px 14px;
    border-radius: 120px;
    font-weight: 700;
    font-size: 0.8125rem;
  }
}


@media screen and (max-width: 800px) {
  footer {
    grid-template-columns: 1fr;
    margin-top: 4.5rem;
    margin-bottom: 2rem;
    gap: 25px;
  }
}